/* Styles not related to code  */

body, td { font: 14px/1.4 verdana, arial, helvetica, sans-serif; }
h1 { font-size:1.3em; }
h2 { font-size:1.2em; }
a:link { color:#FFFFFF; }    
a:visited { color:#f26d15; }
ul { margin-bottom: 2.4em; }
ul li { margin-bottom:.5em; }
p { max-width: 60em; }
span.news { font-weight:bold; font-style:italic; }
/*Classes used to indicate button selected*/
button.none {font: 14px/1.4 verdana, arial, helvetica, sans-serif; border-color: none}
button.red{font: 14px/1.4 verdana, arial, helvetica, sans-serif; border-color: red}
button.green{font: 14px/1.4 verdana, arial, helvetica, sans-serif; border-color: green}

/*Positioning for text on the page*/
article{
		width: 15vw;
		margin: 1em;
		position: absolute;
	}	

/*Positioning of Elements on Map*/
	div.Beatty{
		position: fixed;
		left: 72.5vw;
		top: 75vh; 
		border: 0px;
		opacity: .7;
	}

	div.Be-Bu {
		position: fixed;
		left: 70vw;
		top: 40vh;
		border: 0px;
	}

	div.Be-MO{
		position: fixed;
		left: 45vw;
		top: 11vh;
		border: 0px;
		}

	div.Be-Ne{
		position: fixed;
		left: 69.5vw;
		top: 51.5vh;
		border: 0px;
	}

	div.Be-Ni{
		position: fixed;
		left: 45.5vw;
		top: 49vh;
		border: 0px;
	}

	div.Be-Pa {
		position: fixed;
		left: 75.5vw;
		top: 85vh;
		border: 0px;
	}

	div.Bus{
		position: fixed;
		left: 85.7vw;
		top: 37vh; 
		border: 0;
		opacity: .7;
	}

	div.Bu-Ne {
		position: fixed;
		left: 83vw;
		top: 34vh;
		border: 0px;
	}

	div.Bu-Ni {
		position: fixed;
		left: 45vw;
		top: 27vh;
		border: 0px;
	}

	div.Bu-Pa{
		position: fixed;
		left: 70vw;
		top: 35vh;
		border: 0px;
	}

	div.MOA{
		position: fixed;
		left: 40.2vw;
		top: 7.8vh; 
		border: 0;
		opacity: .7;
		}

	div.MO-Bu{
		position: fixed;
		left: 45vw;
		top: 10.8vh;
		border: 0;
	}

	div.Nitobe{
		position: fixed;
		left: 39vw;
		top: 40.8vh; 
		border: 0;
		opacity: .7;
	}

	div.Nest{
		position: fixed;
		left: 76vw;
		top: 39vh; 
		border: 0;
		opacity: .7;
	}

	div.Pacific{
		position: fixed;
		left: 72vw;
		top: 84vh; 
		border: 0;
		opacity: .7;
	}